.hero-section{
           padding: 100px 0;
          
        }
body{
   background-image: url(https://www.bitdegree.org/learn/storage/media/images/57bb1705-3ac9-41e3-9e97-37d4ee5771ac.o.jpg);
   color: rgb(243, 241, 242);
}
#home{
   height: 100vh;
   width: 100%;
   font-family:'Gill Sans';
}

#about{
   height: 70vh;
   width: 100%;
}
#skills{
   height: 70vh;
   width: 100%;
}
#projects{
   height: 100vh;
   width: 100%;
}
.foote{
   background-color: rgb(18, 31, 51);
}
.foot{
   display:flex;
   gap:150px;
   justify-content: center;
}
.clr{
   color: rgb(51, 44, 77);
}
