body {
  background-image: url(https://www.bitdegree.org/learn/storage/media/images/57bb1705-3ac9-41e3-9e97-37d4ee5771ac.o.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #f3f1f2;
  margin-top: 70px; /* To offset fixed navbar */
}

.hero-section {
  padding-top: 100px;
  padding-bottom: 60px;
}

section {
  padding-top: 80px;
  padding-bottom: 60px;
}

.foote {
  background-color: #121f33;
}

.navbar .nav-link {
  color: white !important;
}

.card p {
  margin-bottom: 0;
}